.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 100%;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 88px;
  background-color: #FFFFFF;
}

/* Header */

.header {
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: linear-gradient(#00C9EF, #009FD0)
}

.banner-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: 150px;
}

.banner-message p {
  width: 660px;
  height: 156px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  color: #FFFFFF;
}




/* Our Mission, Our Vision Section */

.center {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  width: 100%;
  color: black;
  margin-top: 800px;
}

.center-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center p {
  width: 710px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  white-space: pre-line;
  margin-top: 35px;
  color: #444444;
}

/* Background Images */

.image-brush-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: 850px;
}

.image-glasses-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: 1200px;
}


/* Investor Section */

.investors-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 367px;
  margin-top: 2600px;
  background-color: #F4F4F4;
}

.investors-container .logos-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  width: 100%;
}

.investors-container .logos-container img {
  margin: 25px;
}

/* Footer */

.footer-container {
  position: absolute;
  width: 100%;
  height: 344px;
  margin-top: 2965px;
}


.footer-contents-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 40px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 5px;
}

.footer-links p {
  width: 77px;
  height: 20px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 80px;
  color: #000000;
}

.footer-links a{
  color: #666666
}

.footer-links a:hover{
  color: #a5a5a5
}



@media only screen and (max-width: 1100px){
  .image-brush-container {
    display: none;
  }
  .image-glasses-container {
    display: none;
  }

  .investors-container .logos-container {
    max-width: 400px;
  }

  .investors-container .logos-container img {
    width: 150px;
  }

  .investors-container {
    margin-top: 2350px;
  }

  .footer-container {
    margin-top: 2700px;
  }

  /* Footer */

  .footer-contents-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }
}


@media only screen and (max-width: 784px){

  /* Header */

  .banner-message p {
    width: 460px;
    font-size: 36px;
  }

  .banner-message iframe {
    width: 480;
    height: 270;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    width: 100%;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* Our Mission, Our Vision Section */

  .center {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    width: 100%;
    color: black;
    margin-top: 800px;
  }
  
  .center p {
    width: 510px;
    font-family: Roboto; 
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 35px;
    color: #444444;
  }
  
  /* Background-Images */

  .image-brush-container {
    display: none;
  }
  .image-glasses-container {
    display: none;
  }

  /* Investor-Section */

  .investors-container .logos-container img {
    flex-flow: wrap;
    width: 150px;
  }

  .investors-container {
    margin-top: 2600px;

  }

  .footer-container {
    margin-top: 3265px;
  }

  /* Footer */

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 2965px;
  }

  .footer-contents-container {
    display: flex;
    flex-flow: wrap;
    margin: 40px;
    width: 400px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }

}



@media only screen and (max-width: 593px) {

  .center {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    width: 100%;
    color: black;
    margin-top: 700px;
  }
  
  .center-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .center p {
    width: 300px;
    font-size: 15px;
  }


  .investors-container {
    margin-top: 2900px;

  }

  .footer-container {
    margin-top: 3265px;
  }

}


@media only screen and (max-width: 480px) {

  .banner-message p {
    width: 350px;
    font-size: 28px;
  }

  .center {
    margin-top: 674px;
  }
  
  .center-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .center p {
    width: 300px;
    font-size: 15px;
  }

  .investors-container {
    margin-top: 2900px;
  }

  .investors-container .logos-container img {
    flex-flow: wrap;
    width: 130px;
  }

  .footer-container {
    margin-top: 3365px;
  }

  .footer-contents-container {
    display: flex;
    flex-flow: wrap;
    margin: 40px;
    width: 300px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 400px) {


  .center {
    margin-top: 625px;
  }

  .investors-container {
    height: 550px;
    width: 100;
    margin-top: 4150px;
  }

  .investors-container .logos-container {
    width: 130px;
  }

  .investors-container .logos-container img {
    width: 150px;
  }

  .footer-container {
    margin-top: 4765px;
  }
}

@media only screen and (max-width: 360px) {

  .banner-message p {
    width: 100%;
    font-size: 28px; 
  }

  .center p {
    width: 100%;
  }
  
  .footer-contents-container {
    margin: 0px;
  }
}


