body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h2 {
  width: 710px;
  height: 57px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
  color: #444444;
}


.small-top-margin {
  margin-top: 5px;
}

.light-blue-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.light-blue-line {
  width: 40px;
  height: 5px;
  background: #01C9F0;
}

.black-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.black-line {
  width: 40px;
  height: 5px;
  background: black;
}


.button-1 {
  border-radius: 100px;
  border: 1px solid #00C9EF;
  background-color: inherit;
  height: 38px;
  width: 177px;
}

.button-1:hover {
  background-image: linear-gradient(to right, #00C9EF, #009FD0);
  color: white;
}

.button-2 {
  border-radius: 100px;
  border: 1px solid #00C9EF;
  background-image: linear-gradient(to right, #00C9EF, #009FD0);
  color: white;
  height: 38px;
  width: 177px;
}

.button-2:hover {
  background-image: linear-gradient(white, white);
  background-color: inherit;
  color: black;
}

@media only screen and (max-width: 784px){
	h2 {
    font-size: 40px;
  }
}


